input[name="Name"]{
    background-color:greenyellow;
    width: 150px;
    margin-bottom: 10px;
}

label[for="visitante"]{
    color:orangered;
    font-weight: bolder;
    font-size: large;
}

input[type="button"]{
    border-radius: 6px;
    background-color:white;
    border-width: 1px;
}